<h1>Edit <%= @device.name %></h1>

<form action="/devices/<%= @device.id %>" method="POST">
  <label> Device Name </label>
  <input type="text" name="name" value="<%= @device.name %>"> </br>

  <label> Device Maker </label>
  <input type="text" name="company" value="<%= @device.company %>"> </br>

  <input type="submit" value="Update">
</form>
