<h1>Add a New Game</h1>

<form action="/games" method="POST">

  <label> Game Name </label>
  <input type="text" name="Name"> </br>

  <label> Devices: </label>
  <select name="device_id">
    <% current_user.devices.each do |device| %>
         <option value=<%= device.id %>><%= device.name %></option>
       <% end %>
     </select>

  <input type="submit" value="Create">
</form>
