<h1>Add a New Game</h1>

<form action="/games" method="POST">

  <label> Game Name: </label>
  <input type="text" name="name"> </br>


  <label> Number of Players: </label>
  <input type="integer" name="players"> </br>


  <label> Which device is the game on? </label> <br>
    <% current_user.devices.each do |device| %>
    <%= device.name %> <input id="<%= device.id %>" type="checkbox" name="device_id" value="<%= device.id %>"><br>
    <% end %>
  </select>

  <input type="submit" value="Create">
</form>
